/* load font */
@font-face {
  font-family: HacenFont;
  src: url("../fonts/Hacen Tunisia Lt.ttf");
}

/* normalization */
* {
  margin: 0;
  padding: 0;
  outline: none; /* this will remove blue box */
}
body {
  margin: 0;
  padding: 0;
  font-family: HacenFont;
  direction: rtl;
}
ul {
  list-style: none;
}


/* Style the slider */
#slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #444444;
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
}
.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

